<script src="https://unpkg.com/vue"></script>

<body>
  <div id="code" v-bind:style="{ 'background': colors['background'], 'color': colors['foreground'] }">
    <button class="pure-material-button-contained" @click="takeFromClipboard">Take from clipboard</button>
    <button class="pure-material-button-contained" @click="copyToClipboard">Copy to clipboard</button>
    <div v-for="color, key in colors" v-bind:style="{
           'color': key == 'background' ? '#BEBEBE' : (colors[key].includes('#') ? colors[key].split(' ')[0] : colors['foreground']),
           'font-weight': colors[key].includes('bold') ? 'bold' : '',
           'font-style': colors[key].includes('italic') ? 'italic' : ''
        }">
      {{ key.padEnd(15, '&nbsp;') }} =
        <input type="color" v-model="colors[key]"></input>
        <input type="text" v-model="colors[key]"></input>
    </div>
  </div>
</body>

<script>
var app = new Vue({
  el: '#code',
  data: function() {
    return {
      colors: {
        "theme": "Colorful Dark",
        "kind": "dark",
        "base": "macos-dark",
        "foreground": "#BEBEBE",
        "background": "#242424",
        "comment": "#717988",
        "keyword": "#e06c75",
        "type-keyword": "#56B6C2",
        "type-modifier": "#E06C75",
        "operator": "#DF7699",
        "type": "#e66b93",
        "func": "#68A4F1",
        "macro": "#55b465",
        "attr": "#CEA553",
        "tag": "#68A4F1",
        "variable": "#BEBEBE",
        "parameter": "#BEBEBE",
        "self-and-this": "#56B6C2",
        "const": "#CEA553",
        "num": "#CEA553",
        "bool": "#56B6C2",
        "string": "#7CBD6C",
        "string-escape": "#56B6C2",
        "char": "#7CBD6C",
        "lang-type": "#56B6C2",
        "lang-const": "#d68b6e",
        "lang-func": "#55b465",
        "bold": "bold",
        "italic": "italic",
        "raw": "#818181",
        "rs-lifetime": "#CEA553",
        "rs-generics": "#c07ad1",
        "rs-lang-trait": "#56B6C2",
        "typ-punctuation": "#56B6C2",
        "typ-parameter": "#949392",
        "typ-linebreak": "#ca9940"
      }
    }
  },
  methods: {
    takeFromClipboard: function() {
      const that = this
      navigator.clipboard.readText().then(function(s) {
        that.colors = JSON.parse(s)
      }, function() {
        console.log('take from clipboard failed')
      })
    },
    copyToClipboard: function() {
      const s = JSON.stringify(this.colors, null, 4)
      navigator.clipboard.writeText(s).then(function() {
        console.log('copied to clipboard')
      }, function() {
        console.log('copyto clipboard failed')
      });
    }
  }
})
</script>

<style>
body {
  padding: 0;
  margin: 0;
  font-family: 'Source Code Pro', monospace;
}

input {
  font-family: inherit;
  font-size: inherit;
  background: inherit;
  color: inherit;
  border: none;
}

button {
  margin-bottom: 20px;
}

#code {
  box-sizing: border-box;
  min-width: 100%;
  min-height: 100%;
  padding: 30px
}
</style>


<style>
  .pure-material-button-contained {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    padding: 0 16px;
    min-width: 64px;
    height: 36px;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

.pure-material-button-contained::-moz-focus-inner {
    border: none;
}

/* Overlay */
.pure-material-button-contained::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    opacity: 0;
    transition: opacity 0.2s;
}

/* Ripple */
.pure-material-button-contained::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    padding: 50%;
    width: 32px; /* Safari */
    height: 32px; /* Safari */
    background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.pure-material-button-contained:hover,
.pure-material-button-contained:focus {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.pure-material-button-contained:hover::before {
    opacity: 0.08;
}

.pure-material-button-contained:focus::before {
    opacity: 0.24;
}

.pure-material-button-contained:hover:focus::before {
    opacity: 0.3;
}

/* Active */
.pure-material-button-contained:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.pure-material-button-contained:active::after {
    opacity: 0.32;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0s;
}

/* Disabled */
.pure-material-button-contained:disabled {
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.12);
    box-shadow: none;
    cursor: initial;
}

.pure-material-button-contained:disabled::before {
    opacity: 0;
}

.pure-material-button-contained:disabled::after {
    opacity: 0;
}
</style>
